<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${student}">
    <div class="form-group">
        <label th:for="firstName">First Name: </label>
        <input class="form-control" th:field="*{firstName}" />
        <span th:errors="*{firstName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="lastName">Last Name: </label>
        <input class="form-control" th:field="*{lastName}" />
        <span th:errors="*{lastName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="studentID">Student Number</label>
        <input class="form-control" th:field="*{studentID}" />
        <span th:errors="*{studentID}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="type">Classroom</label>
        <select name="classroom">
            <option th:each="classroom : ${classrooms}"
                    th:text="${classroom.name}"
                    th:value="${classroom.id}"></option>
        </select>
    </div>
    <input type="submit" value="Add Classroom" />
</form>
</body>
</html>